<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-组件-demo</title>
    <script src="./lib/vue.js"></script>
</head>

<body>
    <style>
        table {
            border-style: solid;
        }

        tr {
            min-height: 100px;
        }

        th,
        td {
            min-width: 100px;
            min-height: 100px;
        }
    </style>

    <!-- 定义模板 -->
    <template id="teble-templ">
        <table>
            <template v-if="list!=null">
                <tr v-if="hasTh">
                    <th v-for="(arr,key) in list[0]" :key="key">{{key}}</th>
                </tr>
                <tr v-for="(arr,key) in list" :key="key">
                    <td v-for="(item,index) in arr" :key="index">{{item}}</td>
                </tr>
            </template>
            <template v-if="list==null">
                <tr v-for="(item, index) in rowList" :key="index">
                    <td v-for="(item, index) in colList" :key="index">{{item}}</td>
                </tr>
            </template>
        </table>
    </template>


    <!-- 定义组件 -->
    <script>
        Vue.component('table-comp', {
            template: '#teble-templ',
            props: {
                list: {
                    type: Array
                },
                hasTh: {
                    type: Boolean,
                    default: true
                },
                row: {
                    type: Number,
                    default: 2
                },
                col: {
                    type: Number,
                    default: 2
                },
            },
            computed: {
                rowNum: function () {
                    if (this.row < 0) {
                        return 0;
                    }

                    var rowNum = parseInt(this.row);
                    return rowNum;
                },
                rowList: function () {
                    var list = [];
                    for (let i = 0; i < this.rowNum; i++) {
                        list[i] = null;
                    }
                    return list;
                },
                colNum: function () {
                    if (this.col < 0) {
                        return 0;
                    }

                    let colNum = parseInt(this.col);
                    return colNum;
                },
                colList: function () {
                    let list = [];
                    for (let i = 0; i < this.colNum; i++) {
                        list[i] = null;
                    }
                    return list;
                }
            },
        })
    </script>


    <!-- 用例 -->
    <div id="app">
        <table-comp :col="5" :row="4" :has-th="true"></table-comp>
        <table-comp :has-th="true" :list="list"></table-comp>
    </div>

    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    list: [
                        [3, 2, 3],
                        [3, 2, 1]
                    ]
                }
            },
        })
    </script>

</body>

</html>