<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-组件-demo</title>
    <script src="./lib/vue.js"></script>
</head>

<body>
    <!-- 定义模板 -->
    <template id="teble-templ">
        <table :border="border">
            <tr v-if="hasTh">
                <th></th>
                <th></th>
            </tr>
            <tr v-for="">
                <td></td>
                <td></td>
            </tr>
        </table>
    </template>


    <!-- 定义组件 -->
    <script>
        Vue.component('table-r', {
            props: {
                border: {
                    type: Number,
                    default: 1
                },
                hasTh: {
                    type: Boolean,
                    default: true
                },
                col: {
                    type: Number,
                    default: 2
                }
            },
            template: 'teble-templ'
        })
    </script>


    <!-- 用例 -->
    <div id="app">
        <table-r :border="1" :col="3" :has-th="true">aaaa</table-r>
    </div>

    <script>
        new Vue({
            el: "#app"
        })
    </script>

</body>

</html>