<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-组件</title>
    <script src="./lib/vue.js"></script>
</head>

<body>
    <!-- 
        test1
        自定义标签与模板
    -->
    <div id="app">
        <!-- 使用组件时使用烤串命名 -->
        <title-template></title-template>
    </div>

    <!-- 组件要定义在 Vue 对象之前 -->
    <script>
        // 全局定义
        // 格式：   Vue.component("组件名", {组件内容})
        // 组件名用烤串命名
        // 字段：
        //     template 定义模板
        //     props    定义属性，定义用小驼峰，使用用烤串
        Vue.component('title-template', {
            template: '<h1>模板标题</h1>'
        });

        var vm = new Vue({
            el: "#app"
        })
    </script>

    <hr>

    <!-- 
        test2
        自定义属性
        定义用小驼峰，使用用烤串
    -->
    <div id="app2">
        <li-template2 my-attr="这是一句话"></li-template2>
    </div>

    <script>
        // 全局定义
        // Vue.component('li-template2', {
        //     props: ['myattr'],
        //     template: '<li>{{myattr}}</li>'
        // });

        var vm2 = new Vue({
            el: "#app2",
            // 局部定义
            components: {
                'li-template2': {
                    props: ['myAttr'],
                    template: '<li>{{myAttr}}</li>'
                }
            }
        })
    </script>

    <hr>

    <!-- 
        test3
        自定义属性（扩展用法）
    -->
    <div id="app3">
        <li-template2 :myattr="item"></li-template2>
    </div>

    <script>
        Vue.component('li-template2', {
            props: ['myattr'],
            template: '<li>{{myattr}}</li>'
        });

        var vm3 = new Vue({
            el: "#app3",
            data: {
                item: "这是另一句话"
            },
        })
    </script>

    <hr>

    <!-- for -->
    <div id="app4">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Add a todo</label>
            <input v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat">
            <button>Add</button>
        </form>
        <ul>
            <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"></li>
        </ul>
    </div>

    <script>
        Vue.component('todo-item', {
            template: '\
                <li>\
                {{ title }}\
                <button v-on:click="$emit(\'remove\')">Remove</button>\
                </li>\
            ',
            props: ['title']
        })

        new Vue({
            el: '#app4',
            data: {
                newTodoText: '',
                todos: [
                    {
                        id: 1,
                        title: 'Do the dishes',
                    },
                    {
                        id: 2,
                        title: 'Take out the trash',
                    },
                    {
                        id: 3,
                        title: 'Mow the lawn'
                    }
                ],
                nextTodoId: 4
            },
            methods: {
                addNewTodo: function () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        title: this.newTodoText
                    })
                    this.newTodoText = ''
                }
            }
        })
    </script>

    <hr>

    <!-- slot 插槽 -->
    <div id="app5">
        <!-- 如果不适用插槽，标签中的内容不会显示 -->
        <p-template>#这是html中的文本#</p-template>
    </div>

    <script>
        var vm = new Vue({
            el: "#app5",
            components:{
                'p-template':{
                    // <slot> 放于希望在html中插入的位置
                    template:`<p>#这是模板定义中的文本#<slot></slot></p>`
                }
            }
        })
    </script>

</body>

</html>